/* TEXT COLORS */
$header-color-main: #000000;
$header-color-invert: #ffffff;
$text-color-main: #444444;
$text-color-secondary: #222222;
$text-color-threety: #111111;

/* BACKGROUND COLORS */
$background-color-main: #ffffff;
$background-color-secondary: #f2f2f2;
$background-color-threety: #eaeaea;
$theme-color: #68b738;
$theme-color-lighter: #5eaa2f;
$background-color-fourty: #666666;
$background-color-fourty-active: rgba(104, 183, 56, 0.3);
$background-color-fifty: #e6e6e6;
$background-color-sixty: #ebebeb;
$background-color-seventy: #d3d3d3;
$background-color-eighty: #cdcdcd;

/* SCREEN WIDTH */
$tablet-width: 768px;
$desktop-width: 1440px;
