/* TEXT COLORS */
$header-color-main: #000000;
$header-color-invert: #ffffff;
$text-color-main: #444444;
$text-color-secondary: #222222;
$text-color-thtreety: #111111;

/* BACKGROUND COLORS */
$background-color-main: #ffffff;
$background-color-secondary: #f2f2f2;
$background-color-threety: #eaeaea;
$theme-color: #68b738;
