/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/button.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/page.scss";

/* HEADER */
@import "./blocks/main-header-container";
@import "./blocks/main-header.scss";
@import "./blocks/site-navigation.scss";

/* MAIN */
@import "./blocks/main.scss";
@import "./blocks/hero-wrapper.scss";
@import "./blocks/hero.scss";
@import "./blocks/programms.scss";
@import "./blocks/programm-version.scss";
@import "./blocks/how-it-works.scss";
@import "./blocks/statistic.scss";
@import "./blocks/example.scss";

/* CATALOG */
@import "./blocks/catalog.scss";
@import "./blocks/main-goods.scss";
@import "./blocks/good-card.scss";
@import "./blocks/good-specifications.scss";
@import "./blocks/good-other.scss";
@import "./blocks/additional-goods.scss";
@import "./blocks/additional-good-card.scss";
@import "./blocks/actions-and-news.scss";
@import "./blocks/subscriptions-result-modal.scss";

/* PROGRAMMS */
@import "./blocks/programms-option.scss";
@import "./blocks/cat-data.scss";
@import "./blocks/programm-choise.scss";
@import "./blocks/contacts.scss";
@import "./blocks/comment.scss";
@import "./blocks/options.scss";
@import "./blocks/result-modal.scss";

/* FOOTER */
@import "./blocks/main-footer.scss";
@import "./blocks/cooperation.scss";
@import "./blocks/social-list.scss";
@import "./blocks/htmlacademy.scss";
