.additional-goods__header {
  font-family: $main-header;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__gift {
  min-height: 290px;
  background-color: $theme-color;
  background-image: url("../../icons/gift_icon.svg");
  background-size: 78px;
  background-repeat: no-repeat;
  background-position: center;
}

.additional-goods__gift-description {
  font-size: 16px;
  line-height: 20px;
  color: $header-color-invert;
}
