.additional-good-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  padding: 13px 0 18px;
  border-bottom: 1px solid $background-color-eighty;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 25px 37px 27px;
    border-right: 1px solid $background-color-eighty;
    border-left: 1px solid $background-color-eighty;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 15px 0 17px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
  }

  &:first-child {
    border-top: 1px solid $background-color-eighty;
  }
}

.additional-good-card__header-link {
  margin: 0 0 13px;
  text-decoration: none;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin: 0;
  }
}

.additional-good-card__header {
  margin: 0;
  font-family: $main-header;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-good-card__description {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-main;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    font-size: 16px;
    line-height: 20px;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin: 0 40px 0 0;
  }
}

.additional-good-card__value {
  @media (min-width: $tablet-width) {
    display: block;
    width: 92px;
    text-align: end;
  }
}

.additional-good-card__button {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
  }
}
