.cooperation {
  background-color: #ffffff;

  &--grey {
    background-color: #f2f2f2;
  }
}

.cooperation__header {
  font-family: $main-header;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
