.example {
  background: $background-color-threety;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $background-color-threety 462px, transparent 462px);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, transparent 135px, $background-color-threety 135px);
  }
}

.example__data-wrapper {
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content min-content min-content;
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 75px;
  }
}

.example__header {
  margin: 0 0 39px;
  font-family: $main-header;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin: 0 0 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin: 0 0 146px;
  }
}

.example__description {
  min-height: 108px;
  margin: 0 0 20px;
  color: $text-color-main;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    min-height: 72px;
    margin: 0 0 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin: 0 0 69px;
    width: 436px;
    min-height: 96px;
  }
}

.example__list {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 99px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    justify-self: start;
    margin: 0 0 55px;
  }
}

.example__costs {
  margin: 0 0 20px;
  font-family: $main-header;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 9px;
    margin: 0;
    padding: 11px 0 0;
    font-size: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    flex-direction: row;
    align-items: start;
    gap: 65px;
    padding: 0;
    text-align: start;
  }
}

.example__slider {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 280px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-self: center;
    grid-column: 1 / -1;
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: end;
  }
}

.example__before {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  overflow: hidden;
}

.example__after {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: right;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  overflow: hidden;
}

.example__divider {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: center;
  display: grid;
  place-items: center;
  width: 4px;
  height: 256px;
  padding: 0;
  border-radius: 2px;
  border: none;
  background-color: $background-color-fourty;

  @media (min-width: $tablet-width) {
    height: 512px;
  }

  &:hover {
    background-color: $theme-color;

    .example__button {
      border-color: $theme-color;
    }

    .example__button::before {
      background-color: $theme-color;
    }
  }

  &:focus-visible {
    background-color: $theme-color;

    .example__button {
      border-color: $theme-color;
      outline: 2px solid $outline-color;
      box-shadow: 0 0 0 3px $background-color-main;
    }

    .example__button::before {
      background-color: $theme-color;
    }
  }

  &:active {
    background-color: $theme-color-lighter;
    opacity: 60%;

    .example__button {
      border-color: $theme-color-lighter;
    }

    .example__button::before {
      background-color: $theme-color-lighter;
    }
  }
}

.example__image {
  display: block;
  object-fit: cover;
}

.example__button {
  position: absolute;
  display: grid;
  place-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 2px solid $background-color-fourty;
  background-color: $background-color-main;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    background-color: $background-color-fourty;
    mask-image: url("../../icons/stack.svg#example_arrows");
  }
}
