.good-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 14px 1fr 17px min-content;
  width: 100%;
  min-height: 164px;
  padding: 20px 20px 25px;
  // border-bottom: 1px solid $background-color-sixty;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $background-color-sixty;
  }

  @media (min-width: $mobile-wide-with) {
    min-width: 280px;
    width: auto;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr min-content;
    min-width: auto;
    width: auto;
    min-height: 390px;
    padding: 0 37px 40px;
    border-bottom: none;
    background-color: $background-color-secondary;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
    width: 169px;
  }
}

.good-card__image-link {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: grid;
  place-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    min-height: 210px;
    margin: -81px 0 0;
    padding: 10px 25px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 12px;
  }
}

.good-card__image {
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.good-card__header-link {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  max-width: 95px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    max-width: 135px;
    margin-bottom: 14px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.good-card__specifications-list {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-bottom: 32px;
  }
}

.good-card__header {
  margin: 0;
  font-family: $main-header;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-secondary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.good-card__button {
  grid-column: 1 / -1;
  grid-row: 5 / -1;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
  }
}
