.good-other {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  padding: 78px 20px 24px;
  border-bottom: 1px solid $background-color-sixty;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: auto;
    width: 250px;
    padding: 158px 35px 38px;
    border: 2px solid $background-color-secondary;
  }

  @media (min-width: $desktop-width) {
    width: 171px;
    padding: 148px 35px 38px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: $background-color-seventy;

    @media (min-width: $tablet-width) {
      top: 80px;
      width: 60px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: $background-color-seventy;

    @media (min-width: $tablet-width) {
      top: 50px;
      height: 60px;
    }
  }
}

.good-other__header {
  margin: 0 0 8px;
  font-family: $main-header;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-threety;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.good-other__text {
  margin: 0 0 21px;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-main;

  @media (min-width: $tablet-width) {
    margin: 0 0 auto;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.good-other__button {
  font-size: 16px;
  line-height: 20px;
  color: $text-color-main;
  background-color: $background-color-secondary;
}
