.good-card__header-link {
  text-decoration: none;
}

.good-card__header {
  font-family: $main-header;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-secondary;
  text-transform: uppercase;
}

.good-card__button {
  font-size: 16px;
  line-height: 20px;
}
