.how-it-works {
  padding: 0 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 69px;
  }
}

.how-it-works__header {
  margin: 0 0 40px;
  font-family: $main-header;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__list {
  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content;
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: min-content;
  }
}

.how-it-works__item {
  position: relative;
  padding: 0 0 0 80px;
  min-height: 60px;
  color: $text-color-main;

  @media (min-width: $tablet-width) {
    padding: 151px 0 57px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $theme-color;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 40px;
    }
  }

  &--leaf {
    &::before {
      background-image: url("../../icons/stack.svg#work_leaf");
      background-size: 30px;
    }
  }

  &--boil {
    &::before {
      background-image: url("../../icons/stack.svg#work_boil");
      background-size: 26px;
    }
  }

  &--eat {
    &::before {
      background-image: url("../../icons/stack.svg#work_eat");
      background-size: 25px;
    }
  }

  &--clock {
    &::before {
      background-image: url("../../icons/stack.svg#work_clock");
      background-size: 26px;
    }
  }
}
