.main-footer {
  background-color: $background-color-secondary;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    min-height: 37px;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer__link {
  display: block;
  padding: 20px 0;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    padding: 7px 0 0;
  }
}

.main-footer__logo {
  display: block;
  object-fit: contain;
  max-width: 100%;
}
