.main-header-container {
  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0 0 0 50%;
      background: linear-gradient(to top, transparent 134px, #62a63a 134px);
    }

    background: linear-gradient(to right, transparent 50%, $theme-color-opacity 50%);
  }
}
