.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 13px 21px 14px 20px;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    padding: 25px 34px 25px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 29px;
  }
}

.main-header__link {
  margin: 0 auto 0 0;
}

.main-header__navigation {
  order: 3;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.main-header__button {
  width: 24px;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
