.main-goods__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 60px;
    padding: 30px 30px 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 110px 71px;
    gap: 63px 80px;
  }
}
