.main-header-container {
  @media (min-width: $desktop-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      right: 0;
      top: 0;
      height: 694px;
      background: linear-gradient($theme-color-opacity), url("../../images/index/cat-big@2x.jpg"), linear-gradient(to right, #535257, #3e3f44);
      background-size: cover;
      background-position: bottom left;
    }

    background: linear-gradient(to right, transparent 50%, $theme-color-opacity 50%);
  }
}
