.page__body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $main-text;
  font-size: 14px;
  line-height: 18px;
  color: $header-color-main;
  background-color: $background-color-main;
  overflow-x: hidden;
}

.page__body:has(.result-upload-form[open]) {
  overflow-y: hidden;
}
