.programm-version {
  position: relative;
  background-color: $background-color-secondary;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 150px;
    display: block;
  }

  &--slim::before {
    width: 50px;
    height: 54px;
    background: url("../../icons/stack.svg#cat-slim"), radial-gradient(circle at center, $theme-color 25px, $background-color-secondary 25px);
    background-position-y: -2px, 1px;
    background-position-x: center;
    background-size: 36px, 50px;
    background-repeat: no-repeat;
  }

  &--pro::before {
    width: 67px;
    height: 50px;
    background: url("../../icons/stack.svg#cat-pro"), radial-gradient(circle at center, $theme-color 25px, $background-color-secondary 25px);
    background-position-y: center;
    background-position-x: center;
    background-size: 66px, 50px;
    background-repeat: no-repeat;
  }
}

.programm-version__header {
  font-family: $main-header;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programm-version__description {
  color: $text-color-main;
}

.programm-version__link {
  position: relative;
  padding-right: 37px;
  font-family: $main-header;
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("../../icons/stack.svg#programm_arrow");
    background-repeat: no-repeat;
    background-position: right;
  }

  &:hover::after {
    background-image: url("../../icons/stack.svg#programm_arrow-hover");
  }

  &:active {
    opacity: 0.3;
  }
}
