.programm-version {
  background-color: $background-color-secondary;
  // background-image: url("../../../build/icons/stack.svg#programm_cat_slim");

  &--slim {
    background-image: url("../../icons/stack.svg#programm_cat_slim");
    background-repeat: no-repeat;
  }

  &--pro {
    background-image: url("../../icons/stack.svg#programm_cat_pro");
    background-repeat: no-repeat;
  }
}

.programm-version__header {
  font-family: $main-header;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programm-version__description {
  color: $text-color-main;
}

.programm-version__link {
  padding-right: 37px;
  font-family: $main-header;
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-image: url("../../icons/stack.svg#programm_arrow");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px;

  &:active {
    opacity: 0.3;
  }
}
