.result-upload-form {
  padding: 0;
  border-color: $theme-color;
}

.result-upload-form::backdrop {
  background-color: $background-color-fourty-active;
}

.result-upload-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: $main-header;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 30px;
    font-size: 20px;
    line-height: 26px;
  }
}

.result-upload-form__text {
  margin: 0;
}

.result-upload-form__close-button {
  font-size: 16px;
  line-height: 18px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
