.site-navigation {
  font-family: $main-header;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $background-color-main;
  z-index: 1;

  @media (min-width: $tablet-width) {
    align-self: start;
  }

  @media (min-width: $desktop-width) {
    background: transparent;
  }
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 33px;
    max-width: 435px;
    padding-top: 13px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
    padding-top: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: $header-color-invert;
      background: transparent;
    }
  }
}

.site-navigation__item {
  border-bottom: 1px solid $background-color-fifty;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.site-navigation__link {
  position: relative;
  display: block;
  padding: 22px 24px 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    text-align: left;

    &--current::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $theme-color;
    }
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.site-navigation__list--index .site-navigation__link--current::after {
  @media (min-width: $desktop-width) {
    background-color: $background-color-main;
  }
}
