.subscription-result {
  padding: 0;
  border-color: $theme-color;
}

.subscription-result::backdrop {
  background-color: $background-color-fourty-active;
}

.subscription-result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  font-family: $main-header;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.subscription-result__text {
  margin: 0;
}

.subscription-result__button {
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}
