.subscription-result {
  padding: 0;
  border-color: $theme-color;
}

.subscription-result::backdrop {
  background-color: $background-color-fourty-active;
}

.subscription-result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: $main-header;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 30px;
    font-size: 20px;
    line-height: 26px;
  }
}

.subscription-result__text {
  margin: 0;
}

.subscription-result__button {
  font-size: 16px;
  line-height: 18px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
